*{
    margin: 0;
}

.Img-Section {
    height: 100vh;
    background-image: url('../../assets/hotel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.signup-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #0056b3;
}